// Colors
$primary-text-color: #000000;
$scraper-visualizer-background-color: #16192d;
$secondary-text-color: #a1a0a2;
$focus-text-color: #495057;
$primary-background-color: #fffff9;
$primary-background-color-transparent: rgb(255, 255, 249, 0.9);
$secondary-background-color: #e7e7e7;
$menu-background-color: #ffffff;
$progressbar-success-color: #539b27;
$deep-green: #71975a;
$primary-action-color: #90bf74;
$secondary-action-color: #FFFEE9;
$placeholder-action-color: #DBD7B3;
$loader-color: #dbd7b3;
$error-color-light: #ffe6e6;
$error-color-dark: #e59793;
$delete-color: #E1554E;
$warning-color: #cfba00;


// Properties
$bottomMobileMenuHeight: 60px;
$default-border-radius: 8px;
$large-font-size: 30px;
$default-font-size-bigger: 18px;
$default-font-size: 16px;
$medium-font-size: 14px;
$mid-font-size: 12px;
$small-font-size: 10px;
$mini-font-size: 8px;