
// Prevent text-selection
* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
}

textarea:focus, input:focus, label, select{
    outline: none!important;
    border-color: inherit!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}


input, select{
    width: 100%;
    background-color: $secondary-background-color;
    border-radius: $default-border-radius;
    text-align: left;
    padding: 15px 20px;
    border: none;
    margin-bottom: 10px!important;

    &::placeholder {
        color: $secondary-text-color;
    }
}

.input--iconRight{
    padding-right: 40px;
}


select{
    font-size: $medium-font-size;
    height: 32px;
    padding: 0px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $focus-text-color;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='enable-background:new 0 0 55.753 55.753' viewBox='0 0 55.753 55.753'%3E%3Cg%3E%3Cpath d='M21.929 1.69a6.891 6.891 0 0 1 1.154-.918l27.288-27.287a6.82 6.82 0 0 1 9.645 9.646L36.515 6.632l23.622 23.623a6.82 6.82 0 0 1-4.822 11.643 6.789 6.789 0 0 1-4.821-1.998L23.083 12.487a6.778 6.778 0 0 1-1.154-.919 6.777 6.777 0 0 1-1.985-4.939 6.782 6.782 0 0 1 1.985-4.939Z' style='fill:%23a1a0a2' transform='rotate(-90 37.846 13.266) scale(.57859)'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center right 10px;
    background-size: 10px;
}

textarea{
    background-color: white;
}

input.error{
    background-color: $error-color-light!important;
    outline: 2px solid $error-color-dark!important;
}

.textInput{
    &__clear{
        min-height: 36px;
        width: 100%;
        background-color: transparent!important;
        border: none!important;
        resize: none!important;
        overflow: hidden!important;
        padding: 0px;
        margin-bottom: 5px;
    }
}
